@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9;
  --foreground: #0f172a;
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
}
